<mat-toolbar  color="primary">
    <div class="col-2">
        <button class="btn-header" mat-icon-button (click)="toggleMenu()">
            <mat-icon>{{menuOpen ? 'close' : 'menu'}}</mat-icon>
        </button>
    </div>
    <!-- <h2 style="margin-left: 20px;"><b style="font-weight: 600;">Study</b>Log</h2> -->
    <img src="assets/StudyLogLogo.png" alt="" height="60" width="80" style="cursor: pointer;" (click)="tela2('/')">
    <!-- <span class="spacer"></span> -->
    <!-- <button class="btn-header" mat-icon-button>
      <mat-icon>settings</mat-icon>
    </button> -->
    <h2 style="margin-left: 20px;"><b style="font-weight: 600;">Bons </b>Estudos!</h2>

    
  </mat-toolbar>
  
  <mat-nav-list *ngIf="menuOpen">
    <li *ngFor="let option of options" (click)="tela(option.endpoint)" class="option-hover">
      {{ option.title }}
    </li>
  </mat-nav-list>
  