.mat-card {
    display: flex;
    flex-direction: column;
    box-shadow: 0px 1px 3px rgb(255, 206, 244);
  }
  
  .filtro-container {
    display: flex;
    align-items: center;
    margin-bottom: 1em;
  }
  
  .filtro-input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    transition: border-color 0.3s ease;
    max-width: 400px;
  }
  
  .filtro-input:focus {
    border-color: rgb(255, 206, 244);
  }
  
  .filtro-button-sub {
    background-color: rgb(253, 163, 234);
    color: #fff;
    font-weight: 600;
    border-radius: 50%;
    border: none;
    display: flex;
    text-align: center;
    width: 35px;
    height: 35px;
    align-items: center;
    cursor: pointer;
  }
  
  
  
  .table {
    width: 100%;
  }
  
  .mat-cell,
  .mat-header-cell {
    padding: 12px 16px;
    text-align: left;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  }
  
  .mat-header-row {
    box-shadow: 0px 1px 3px rgb(255, 206, 244);
    height: 20px;
  }
  
  .tr-ass:hover {
    background-color: #f5f5f5;
  }
  
  .mat-no-data-row {
    color: rgba(0, 0, 0, 0.54);
  }
  
  .filtro-button {
    background-color: rgb(253, 163, 234);
    color: #fff;
    font-weight: 600;
    margin-left: 1em;

  }
  
  .filtro-button:hover, .filtro-button-sub:hover {
    background-color: rgba(253, 163, 233, 0.747);
  }

  .ativado{
    background-color: rgba(173, 142, 167, 0.747);
  
  }
    th, td {
        padding: 12px 16px;
        text-align: left;
        border-bottom: 1px solid rgba(0, 0, 0, 0.12);
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
      

      th:nth-child(1), td:nth-child(1) {
        max-width: 20px !important; 
      }
      
      th:nth-child(2), td:nth-child(2) {
        max-width: 100px ; 
      }
      
      th:nth-child(3), td:nth-child(3) {
        max-width: 200px ; 
      }

      th:nth-child(4), td:nth-child(4) {
        max-width: 20px !important; 
      }

      th:nth-child(5), td:nth-child(5) {
        max-width: 20px !important; 
      }
      
      .th-sub:nth-child(2), .th-sub:nth-child(2) {
        max-width: 350px ; 
      }
      
      .th-sub:nth-child(3), .th-sub:nth-child(3) {
        max-width: 20px ; 
      }
      
      .inativado{
        color: rgba(255, 124, 124, 0.747) !important;
      }

      .tr-ass{
        cursor: pointer;
        transition: background-color 0.5s ease; 
    }
     

    .tr-ass:hover{
      background-color: #ffe8f8 !important;
    }